<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link href="estilo/estilo_blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="meio">
      <h1 class="titulo">Meu Blog</h1>
      <form action="/cadastrar_post" method="get">
        <input class="Botao" id="Criar_Post" type="submit" value="Criar Post" />
      </form>
    </div>
  </body>
</html>
