<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Resposta Cadastro</title>
    <link
      rel="stylesheet"
      href="estilo/estilo_Login_Cadastro.css"
    />
  </head>
  <body>
    <div class="centro coluna">
      <div class="borda">
        <p class="texto">Nome: <%= nome %></p>
        <p class="texto">Login: <%= login %></p>
        <p class="texto">Senha: <%= senha %></p>
        <p class="texto">Nascimento: <%= nascimento %></p>
        <a href="usuarion.html">
          <button>Voltar para o início</button>
        </a>
      </div>
    </div>
  </body>
</html>