<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="estilo_Login_Cadastro"
    />
  </head>
  <body>
    <div class="centro" id="borda">
      <div class="block"><p>Nome: <%= nome %></p></div>
      <div class="block"><p>Login: <%= login %></p></div>
      <div class="block"><p>Senha: <%= senha %></p></div>
      <div class="block"><p>Nascimento: <%= nascimento %></p></div>
      <a href="usuarion.html">
        <button>Voltar para o início</button>
      </a>
    </div>
  </body>
</html>