.bloco1{
    background-color: #ebffc9;
    font-family: 'Times New Roman', Times, serif;
    color: darkgreen;
    font-size: 20pt;
    padding: 10px;
}
h1{
    font-size: 64pt;
    font-family: 'Times New Roman', Times, serif;
    color: #9cd739;
    border: 4px groove #9cd739
}
table,td{
    border: 2px groove #9cd739;
    background-color: #c9ff6d;
}
a:link{
    color: darkblue;
}
a:visited{
    color: darkmagenta
}