* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ebffc9;
}

#cabesalho {
    background-color: #9cd739;
    display: flex;
    justify-content: center;
}

.links {
    margin: 15px 55px;
    background-color: #9cd739;
    text-decoration: none;
    font-family: "Lexend",sans-serif;
}

a:link {
    color: green;
}

a:visited {
    color: darkslategray;
}

#home {
    display: flex;
    margin: 30px 15px;
}

.coluna {
    flex-direction: column;
}

#nome {
    font-family: "Lexend", sans-serif;
    color: #9cd739;
    font-size: 22pt;
}

.imagens {
    border: 5px groove #9cd739;
}

.linha {
    display: flex;
    justify-content: space-around;
}

.texto {
    margin: 0 0 10px 10px;
    font-family: "Lexend",sans-serif;
    text-align: justify;
    font-size: 16pt;
}

#imagens-desenhos {
    margin: 0 0 0 10px;
}

.titulos {
    font-family: "Lexend", sans-serif;
    color: #9cd739;
}