* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: slateblue;
    
}

#num{
    width: 350px;
    height: 50px;
    font-family: Gidole;
    font-size: 20pt;

}

#botao {
    font-family: Gidole;
    font-size: 20pt;
    background-color: darkblue;
    color: white;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    margin: 5px 0 0 0; 
}

#resp {
    margin: 10px 0 0 0;
    font-family: Gidole;
    font-size: 20pt;
}

#titulo {
    margin: 20px 0 0 0;
    font-family: Gidole;
    font-size: 40pt;
    color: white;
}

.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tenta {
    margin: 5px 0 0 0;
    font-family: Gidole;
    font-size: 25pt;
    color: white;
}
