* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: saddlebrown;
}

.tela {
    display: flex;
    justify-content: center;
}

#canvas1 {
    border: 1px solid black;
    background-color: white;
}

#canvas2 {
    background-color: aquamarine;
    margin: 20px 0;
}

#corpo {
    flex-direction: column;
    align-items: center;
}

#titulo {
    font-size: 64pt;
    color: white;
    font-family: Monoton;
    font-weight: 400;
    margin: 20px 0 0 0;
}